<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CCJudge</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>baseURL</param-name>
  	<param-value></param-value>
  </context-param>
  <context-param>
    <param-name>problem_template</param-name>
    <param-value>/WEB-INF/blank_problem_template.html</param-value>
  </context-param>
  <context-param>
    <param-name>resource_directory</param-name>
    <param-value>/var/resources</param-value>
  </context-param>
  <servlet>
    <display-name>ContestController</display-name>
    <servlet-name>ContestController</servlet-name>
    <servlet-class>edu.neumont.ccjudge.controllers.ContestController</servlet-class>
  </servlet>
  <servlet>
    <display-name>TeamController</display-name>
    <servlet-name>TeamController</servlet-name>
    <servlet-class>edu.neumont.ccjudge.controllers.TeamController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TeamMemberController</display-name>
    <servlet-name>TeamMemberController</servlet-name>
    <servlet-class>edu.neumont.ccjudge.controllers.TeamMemberController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>edu.neumont.ccjudge.controllers.UserController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ProblemController</display-name>
    <servlet-name>ProblemController</servlet-name>
    <servlet-class>edu.neumont.ccjudge.controllers.ProblemController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ResourceController</display-name>
    <servlet-name>ResourceController</servlet-name>
    <servlet-class>edu.neumont.ccjudge.controllers.ResourceController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SubmissionAdminController</display-name>
    <servlet-name>SubmissionAdminController</servlet-name>
    <servlet-class>edu.neumont.ccjudge.controllers.SubmissionAdminController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SubmissionController</display-name>
    <servlet-name>SubmissionController</servlet-name>
    <servlet-class>edu.neumont.ccjudge.controllers.SubmissionController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ScoreboardController</display-name>
    <servlet-name>ScoreboardController</servlet-name>
    <servlet-class>edu.neumont.ccjudge.controllers.ScoreboardController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>edu.neumont.ccjudge.controllers.RegisterController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>edu.neumont.ccjudge.controllers.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmissionController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContestController</servlet-name>
    <url-pattern>/contest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContestController</servlet-name>
    <url-pattern>/contest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeamController</servlet-name>
    <url-pattern>/team/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeamController</servlet-name>
    <url-pattern>/team</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeamMemberController</servlet-name>
    <url-pattern>/member/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeamMemberController</servlet-name>
    <url-pattern>/member</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProblemController</servlet-name>
    <url-pattern>/problem/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProblemController</servlet-name>
    <url-pattern>/problem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourceController</servlet-name>
    <url-pattern>/resource/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourceController</servlet-name>
    <url-pattern>/resource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmissionAdminController</servlet-name>
    <url-pattern>/submission/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmissionAdminController</servlet-name>
    <url-pattern>/submission</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmissionController</servlet-name>
    <url-pattern>/home/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmissionController</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScoreboardController</servlet-name>
    <url-pattern>/scoreboard/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScoreboardController</servlet-name>
    <url-pattern>/scoreboard</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>403</error-code>
    <location>/views/home/error.jsp</location>
  </error-page>
  <filter>
    <display-name>SecurityFilter</display-name>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>edu.neumont.ccjudge.controllers.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/home/submit</url-pattern>
  </filter-mapping>
   <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AdminSecurityFilter</display-name>
    <filter-name>AdminSecurityFilter</filter-name>
    <filter-class>edu.neumont.ccjudge.controllers.AdminSecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminSecurityFilter</filter-name>
    <url-pattern>/team/*</url-pattern>
  </filter-mapping>
   <filter-mapping>
    <filter-name>AdminSecurityFilter</filter-name>
    <url-pattern>/contest/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminSecurityFilter</filter-name>
    <url-pattern>/problem/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminSecurityFilter</filter-name>
    <url-pattern>/resource/upload</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminSecurityFilter</filter-name>
    <url-pattern>/member/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminSecurityFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminSecurityFilter</filter-name>
    <url-pattern>/submission/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminSecurityFilter</filter-name>
    <url-pattern>/team</url-pattern>
  </filter-mapping>
   <filter-mapping>
    <filter-name>AdminSecurityFilter</filter-name>
    <url-pattern>/contest</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminSecurityFilter</filter-name>
    <url-pattern>/problem</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminSecurityFilter</filter-name>
    <url-pattern>/member</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminSecurityFilter</filter-name>
    <url-pattern>/user</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminSecurityFilter</filter-name>
    <url-pattern>/submission</url-pattern>
  </filter-mapping>
</web-app>